<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>백신예약 현황</h2>
<table border="1">
    <tr>
        <th>병원지역</th>
        <th>병원지역명</th>
        <th>접종예약건수</th>
    </tr>
    <tr th:each="dto: ${dtoList}" th:if="${dto['count']} != 0">
        <td th:text="${dto['host_addr']}">병원지역</td>
        <td>
            <span th:if="${dto['host_addr']} == '10'">서울</span>
            <span th:if="${dto['host_addr']} == '20'">대전</span>
            <span th:if="${dto['host_addr']} == '30'">대구</span>
            <span th:if="${dto['host_addr']} == '40'">광주</span>
        </td>
        <td th:text="${dto['count']}">접종예약건수</td>

    </tr>
    <tr>
        <th>총합</th>
        <td colspan="2" th:text="${dtoList[0]['total_count']}"></td>
    </tr>
</table>
<br>
<a href="/">메인 Page</a>
<br>

</body>
</html>