<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/check.js}"></script>
</head>
<body>
<form action="/reservation" method="post" >
    <!--    예약번호: <input type="text" name="resv_no" readonly><br>-->
    주민번호: <input type="text" name="jumin"><br>
    백신코드: <select name="v_code" >
            <option value="none">=== 선택 하세요 ===</option>
            <option value="V001">A_백신</option>
            <option value="V002">B_백신</option>
            <option value="V003">C_백신</option>
            </select><br>
    병원코드:
    <input type="radio" name="host_code" value="H001"> 병원_가
    <input type="radio" name="host_code" value="H002"> 병원_나
    <input type="radio" name="host_code" value="H003"> 병원_다
    <input type="radio" name="host_code" value="H004"> 병원_라<br>
    예약날짜: <input type="text" name="resv_date"> <span>ex)20240101</span> <br>
    예약시간: <input type="text" name="resv_time"> <span>ex)0930</span> <br>
    <input type="submit" value="저장" class="btn btn-primary" onclick="check()">
    <input type="button" value="다시" class="btn btn-primary" onclick="res()">
</form>
<br>
<a href="/">메인 Page</a>
</body>

</html>