<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/reservation" method="post">
    <!--    예약번호: <input type="text" name="resv_no" readonly><br>-->
    주민번호: <input type="text" name="jumin"><br>
    병원코드: <input type="text" name="host_code"><br>
    예약날짜: <input type="text" name="resv_date"><br>
    예약시간: <input type="text" name="resv_time"><br>
    백신코드: <input type="text" name="v_code"><br>
    <input type="submit" value="작성">
</form>
</body>
</html>