<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis_vaccine.mapper.BoardMapper">
    <insert id="save" parameterType="com.example.mybatis_vaccine.dto.ReservationDTO">
        INSERT INTO vaccresv(jumin, host_code, resv_date, resv_time, v_code)
        VALUES(#{dto.jumin}, #{dto.host_code}, TO_DATE(#{dto.resv_date}, 'YYYYMMDD'),
        CAST(#{dto.resv_time} AS TIME), #{dto.v_code})
    </insert>
    <select id="findAll" resultType="map">
        SELECT h.host_addr, COUNT(v.resv_no) as count,
        (SELECT COUNT(resv_no) FROM vaccresv) as total_count
        FROM vaccresv v LEFT JOIN hospital h ON v.host_code = h.host_code
        GROUP BY h.host_addr
    </select>
    <select id="findByResvNo" resultType="map">
        SELECT v.resv_no, j.name, j.jumin, v.host_code, TO_CHAR(v.resv_date, 'YYYY"년" MM"월" DD"일"') AS formatted_date,
        TO_CHAR(v.resv_time, 'HH:MI') AS formatted_time, v.v_code, h.host_addr
        FROM vaccresv v
        JOIN hospital h ON v.host_code = h.host_code
        JOIN jumin j ON v.jumin = j.jumin
        WHERE v.resv_no = CAST(#{keyword} AS bigint);

    </select>
    <select id="findByJumin" resultType="com.example.mybatis_vaccine.dto.ReservationDTO">
        SELECT * FROM vaccresv WHERE jumin LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>