<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis_vaccine.mapper.BoardMapper">
    <insert id="save" parameterType="com.example.mybatis_vaccine.dto.ReservationDTO">
        INSERT INTO vaccresv(jumin, host_code, resv_date, resv_time, v_code)
        VALUES(#{dto.jumin}, #{dto.host_code}, TO_DATE(#{dto.resv_date}, 'YYYYMMDD'),
        CAST(#{dto.resv_time} AS TIME), #{dto.v_code})
    </insert>
    <select id="findAll" resultType="map">
        SELECT h.host_addr, COUNT(v.resv_no) as count,
        (SELECT COUNT(resv_no) FROM vaccresv) as total_count
        FROM vaccresv v LEFT JOIN hospital h ON v.host_code = h.host_code
        GROUP BY h.host_addr
    </select>
</mapper>